<h1>Coords &rarr; Weather Lookup</h1>

<form action="/coords_to_weather">
  <div>
    <label for="the_latitude">Latitude</label>
    <input type="text" name="user_latitude" id="the_latitude">
  </div>

  <div>
    <label for="the_longitude">Longitude</label>
    <input type="text" name="user_longitude" id="the_longitude">
  </div>

  <button>Lookup Weather</button>
</form>
