<h1>Meteorologist</h1>


<form action="/street_to_weather">
  <div class="form-group">
    <p class="help-block">Where are you?</p>
    <label for="street_address">Street Address</label>
    <input type="text" name="user_street_address" id="street_address">
  </div>
  <button class="btn btn-primary">Tell me the weather</button>
</form>
