<h1>Street &rarr; Coords Lookup</h1>
<div class="container-fluid margin-above-top-md">

<form action="/street_to_coords">
  <div class="form-group">
    <label for="the_address">Street Address</label>
    <input type="text" name="user_street_address">
  </div>
    <button type = "submit" class="btn btn-primary">Lookup Coordinates</button>
</form>
