<h1>Street &rarr; Coords Results</h1>

<dl>
  <dt>Street Address</dt>
  <dd><%= @street_address %></dd>

  <dt>Latitude</dt>
  <dd><%= @latitude %></dd>

  <dt>Longitude</dt>
  <dd><%= @longitude %></dd>
</dl>
