<!DOCTYPE html>
<html>
<head>
  <title>Meteorologist</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<!-- Connect to Bootstrap CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Connect to Font Awesome CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<body>

  <div class="navbar-fixed-top text-center">

    <nav>
      <div class="row col-lg-4">
        <h1><a href="/street_to_coords/new">Street &rarr; Coords</a></h1>
        </div>
      <div class="row col-lg-4">
        <h1><a href="/coords_to_weather/new">Coords &rarr; Weather</a></h1>
        </div>
      <div class="row col-lg-4">
        <h1><a href="/street_to_weather/new">Street &rarr; Weather</a></h1>
        </div>
      </nav>

    </div>


<div class="space">
</div>

</div>

<%= yield %>

</body>
</html>
