<!DOCTYPE html>
<html>
<head>
  <title>Meteorologist</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <li><a href="/street_to_coords/new">Street &rarr; Coords</a></li>
    <li><a href="/coords_to_weather/new">Coords &rarr; Weather</a></li>
    <li><a href="/street_to_weather/new">Street &rarr; Weather</a></li>
  </ul>
</nav>

<%= yield %>

</body>
</html>
