<!DOCTYPE html>
<html>
<head>
  <title>Meteorologist</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- <link rel="stylesheet" href="/bootstrap.css" media="screen" title="no title" charset="utf-8"> -->

</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <!-- <img alt="Brand" src="..."> -->
          Meteorologist Exercise

          </div>
        </a>
      </div>
    </div>
  </nav>

  <div class="text-center">
    <ul class="list-inline">
      <li><button class="btn btn-default"><a href="/street_to_coords/new">Street &rarr; Coords</a></button></li>
      <li><button class="btn btn-default"><a href="/coords_to_weather/new">Coords &rarr; Weather</a></button></li>
      <li><button class="btn btn-default"><a href="/street_to_weather/new">Street &rarr; Weather</a></button></li>
    </ul>
</div>


  <%= yield %>

</body>
</html>
